connector.name=iceberg

iceberg.catalog.type=rest
iceberg.rest-catalog.uri=${CATALOG_URI}/
iceberg.rest-catalog.warehouse=${CATALOG_WAREHOUSE}

fs.native-s3.enabled=true

s3.region=${S3_REGION}
s3.endpoint=${S3_ENDPOINT_URL}
s3.path-style-access=true
s3.aws-access-key=${AWS_ACCESS_KEY_ID}
s3.aws-secret-key=${AWS_SECRET_ACCESS_KEY}
